.about {

  padding: 0px 30px;

}
.about__item {
  position: relative;
  padding-top: 55px;
  margin-bottom: 28px;
}

.about__list li {
  list-style-type: none;
  font-size: 17px;
}

.about__item svg {

  position: absolute;
  top: 0;
  left: 0;
  fill: #63d1bb;

}
