.featured {
  //padding: 0 20px;
}

.featured__descr {
  font-size: 15px;
  color: #444444;
}

.featured__title-item {
  text-transform: uppercase;
  color: #63d1bb;
  font-size: 17px;
}


.featured__property {
  font-size: 15px;
  width: 100%;
}

.featured__property-item td {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ececec;
}

.featured__price-item {
  margin-bottom: 25px;
  display: inline-block;
  line-height: 1.4;
  font-size: 17px;
}

@media (min-width: 768px) {
  .featured__wrap {
    margin: 0 auto;
    width: 668px;
    position:relative;
  }

  .featured__descr-wrap {
    flex-wrap: wrap;
    display: flex;
    position:relative;
  }
  .featured__title-item {
    right: 26px;
    position: absolute;
    width: 80px;
  }

  .featured__descr-inner {
    width:290px;
    margin-right: 41px;
  }

  .featured__descr-inner p {
    font-size:17px;
  }

  .featured__img img{
    width: 334px;
  }
  .featured__descr-price-info {
    position: absolute;
    bottom: 5px;
  }
}


