.featured {
  padding: 0 20px;
}

.featured__descr {
  font-size: 15px;
  color: #444444;
}

.featured__title-item {
  text-transform: uppercase;
  color: #63d1bb;
  font-size: 17px;
}

.featured__img {
  text-align: center;
}

.featured__property {
  font-size: 20px;
  width: 100%;
}

.featured__property-item td {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ececec;
}

.featured__price-item {
  margin-bottom: 25px;
  display: inline-block;
  line-height: 1.4;
  font-size: 17px;
}
