.page-content__sub-title {

font-weight: bold;
font-size: 25px;


}

.featured__descr {

    font-size:15px;
    color: #444;

}

.featured__title-item{

    text-transform: uppercase;
    color: #63d1bb;
    font-size:17px;

}

.featured__img {

  text-align: center;
}

.featured__property {
  font-size:20px;
  width: 100%;

}


.btn {
    display: block;
    padding: 14px 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 1.2;
    border: 2px solid #444;
    color: #444;
    font-size: 17px;
    font-weight: 700;
    width:260px;

  }

.featured__property-item td {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ececec;
}


.featured__price-item {
    margin-bottom: 25px;
    display: inline-block;
    line-height: 1.4;
    font-size:17px;
}

