.page-footer {
    background-color: #f1f1f1;
    height:160px;

}

.page-footer__wrap {
    padding: 0 30px;
}

.social-links {
}

.page-footer__social-list ul{


list-style-type: none;;


}


.page-footer__social-list li {

  float: left;
  margin-left: 45px;

}
