.page-footer {
  background-color: #f1f1f1;
  width: 320px;
  margin: 0 auto;

}

.page-footer__wrap {
  padding-top: 10px;
}

.page-footer__social-list ul {
  list-style-type: none;
}


.page-footer__social-list li {
  float: left;
  margin-left: 45px;
}

.page-footer__copyright {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 70px;
}


.page-footer__copyright svg {
  margin: 0 10px;
}



@media (min-width: 768px) {

  .page-footer {

    width:768px;


  }


}
