.product {
  padding-top: 30px;
  margin-bottom: 30px;
}

.product .product__wrap {
  padding: 0 30px;
}

.product-item__title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #000000;
  text-decoration: none;
  display: block;
}

.product-item__property {
  font-size: 13px;
  line-height: 2.3;
  color: #444444;
}

.product-item__price {
  padding: 24px 0;
}

.product-item__price-text {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;
}
